.dcont1{
    color: blue;
    background-color: black;
  

    width: 700px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.dcont2{
    color: blue;
    background-color: black;}
